In [444]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [448]:
# Import pandas and pathlib modules
import pandas as pd
from pathlib import Path

# Locate and define csv files
schools_complete_csv = Path("Resources/schools_complete.csv")
students_complete_csv = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_df = pd.read_csv(schools_complete_csv)
students_df = pd.read_csv(students_complete_csv)
schools_df
students_df
# Combine all data into a single dataset
schools_students_df = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
schools_students_df.head()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
'DISTRICT SUMMARY

In [368]:
# Calculate total number of schools
school_count = len(pd.unique(schools_students_df['school_name']))
print(f'Number of Unique Schools : {school_count}')

Number of Unique Schools : 15

In [370]:
# Calculate total number of students
student_count = len(schools_students_df['student_name'])
print(f'Number of Students : {student_count:5,.0f}')

Number of Students : 39,170

In [372]:
# Calculate total budget
budget_total=schools_df['budget'].sum()
print(f'Total Budget : ${budget_total:10,.0f}')

Total Budget : $24,649,428

In [374]:
# Calculate budget per student
budget_per_student=budget_total/student_count
print(f'Per Student Budget : ${budget_per_student:3,.2f}')

Per Student Budget : $629.29

In [376]:
# Calculate average math score
math_score_avg=students_df['math_score'].mean()
print(f'Average Math Score : {math_score_avg:2,.2f}')

Average Math Score : 78.99

In [378]:
# Calculate average reading score
reading_score_avg=students_df['reading_score'].mean()
print(f'Average Reading Score : {reading_score_avg:2,.2f}')

Average Reading Score : 81.88

In [380]:
# Calculate % passing math (the percentage of students who scored >= 70)
math_score_passed=schools_students_df[(schools_students_df["math_score"] >= 70)].count()["student_name"]
math_passed_percent = math_score_passed / float(student_count) * 100
print(f'Percent of Students Passing Math : {math_passed_percent:2,.2F}%')

Percent of Students Passing Math : 74.98%

In [382]:
# Calculate % passing reading (the percentage of students who scored >= 70)
reading_score_passed=schools_students_df[(schools_students_df["reading_score"] >= 70)].count()["student_name"]
reading_passed_percent = reading_score_passed / float(student_count) * 100
print(f'Percent of Students Passing Reading : {reading_passed_percent:2,.2F}%')

Percent of Students Passing Reading : 85.81%

In [384]:
# Calculate % passing in all (the percentage of students who scored >= 70 overall)
combo_score_passed=schools_students_df[(schools_students_df["math_score"] >= 70)&(schools_students_df["reading_score"] >= 70)].count()["student_name"]
combo_passed_percent = combo_score_passed / float(student_count) * 100
print(f'Percent of Students Passing Overall : {combo_passed_percent:2,.2F}%')

Percent of Students Passing Overall : 65.17%

In [468]:
# Create a high-level snapshot of the district's calculated key metrics in a DataFrame
district_summary_df=pd.DataFrame({"Total Number of Schools":school_count,
                                  "Total Students": student_count,
                                  "Total Budget": budget_total,
                                  "Avg Math Score":math_score_avg,
                                  "Avg Reading Score":reading_score_avg,
                                  "% Passing Math":math_passed_percent,
                                  "% Passing Reading":reading_passed_percent,
                                  "% Overall Passing":combo_passed_percent},index=[0])

# Format values appropriately
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.0f}".format)
district_summary_df["Avg Math Score"] = district_summary_df["Avg Math Score"].map("{:,.2f}%".format)
district_summary_df["Avg Reading Score"] = district_summary_df["Avg Reading Score"].map("{:,.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.2f}%".format)

# Display the District Summary DataFrame
district_summary_df.style.hide()

In [ ]:
'SCHOOL SUMMARY

In [466]:
# Store type per school
school_types = schools_df.set_index("school_name")["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [505]:
# Calculate students per school
students_per_school=students_df["school_name"].value_counts()
students_per_school

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [507]:
# Calculate total budget per school
budget_per_school=schools_df.groupby(["school_name"])["budget"].sum()
budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [509]:
# Calculate budget per student per school
budget_per_student=budget_per_school/students_per_school
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [396]:
# Calculate average math score per school
math_score_avg_school=students_df.groupby(["school_name"])["math_score"].mean()
math_score_avg_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [398]:
# Calculate average reading score per school
reading_score_avg_school=students_df.groupby(["school_name"])["reading_score"].mean()
reading_score_avg_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [400]:
# Calculate # students per school passing math (the percentage of students who scored >= 70)
students_passing_math = schools_students_df[(schools_students_df["math_score"] >= 70)]
students_passing_math_school = students_passing_math.groupby(["school_name"]).size()
students_passing_math_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [402]:
# Calculate # students per schools passing reading (the percentage of students who scored >= 70)
students_passing_reading = schools_students_df[(schools_students_df["reading_score"] >= 70)]
students_passing_reading_school = students_passing_reading.groupby(["school_name"]).size()
students_passing_reading_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [602]:
# Calculate # students per schools passing math and reading (the percentage of students who scored >= 70 in both)
students_passing_math_and_reading = schools_students_df[(schools_students_df["reading_score"] >= 70) & (schools_students_df["math_score"] >= 70)]
students_passing_math_and_reading_school = students_passing_math_and_reading.groupby(["school_name"]).size()
students_passing_math_and_reading_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [406]:
# Calculate % sudents per school passing math and reading
math_passed_percent_school = students_passing_math_school / students_per_school
reading_passed_percent_school = students_passing_reading_school / students_per_school
combo_passed_percent_school = students_passing_math_and_reading_school / students_per_school * 100

combo_passed_percent_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [571]:
# Create a high-level snapshot of each school's calculated key metrics in a DataFrame
school_summary_df=pd.DataFrame({"School Type":school_types,
                                "Total Students":students_per_school,
                                "Total Budget":budget_per_school,
                                "Per Student Budget":budget_per_student,
                                "Avg Math Score":math_score_avg_school,
                                "Avg Reading Score":reading_score_avg_school,
                                "Passing Math":math_passed_percent_school,
                                "Passing Reading":reading_passed_percent_school,
                                "Overall Passing":combo_passed_percent_school})

# Format values appropriately
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total Budget"] = school_summary_df["Total Budget"].map("${:,.0f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.0f}".format)
school_summary_df["Avg Math Score"] = school_summary_df["Avg Math Score"].map("{:,.2f}".format)
school_summary_df["Avg Reading Score"] = school_summary_df["Avg Reading Score"].map("{:,.2f}".format)
school_summary_df["Passing Math"] = school_summary_df["Passing Math"].map("{:,.2f}%".format)
school_summary_df["Passing Reading"] = school_summary_df["Passing Reading"].map("{:,.2f}%".format)
school_summary_df["Overall Passing"] = school_summary_df["Overall Passing"].map("{:,.2f}%".format)

# Display the School Summary DataFrame
school_summary_df.head()

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%

In [ ]:
' HIGHEST PERFORMING SCHOOLS (BY % OVERALL PASSING)

In [573]:
# Sort the schools by % Overall Passing in descending order and display the top 5 rows
top_schools=school_summary_df.sort_values(["Overall Passing"],ascending=False)
top_schools.head()

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%

In [ ]:
' LOWEST PERFORMING SCHOOLS (BY % OVERALL PASSING)

In [575]:
# Sort the schools by % Overall Passing in ascending order and display the top 5 rows
bottom_schools=school_summary_df.sort_values(["Overall Passing"],ascending=True)
bottom_schools.head()

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%

In [ ]:
'MATH SCORES BY GRADE

In [583]:
# Create a DataFrame that lists the average math score for students of each grade (9th, 10th, 11th, 12th) at each school.

math_9th=students_df.loc[students_df["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
math_10th=students_df.loc[students_df["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
math_11th=students_df.loc[students_df["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
math_12th=students_df.loc[students_df["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

#create a DF for Math Scores by Grade
math_by_grade_df=pd.DataFrame({"9th":math_9th, "10th": math_10th, "11th":math_11th, "12th":math_12th })

# Format values
math_by_grade_df["9th"] = math_by_grade_df["9th"].map("{:,.2f}".format)
math_by_grade_df["10th"] = math_by_grade_df["10th"].map("{:,.2f}".format)
math_by_grade_df["11th"] = math_by_grade_df["11th"].map("{:,.2f}".format)
math_by_grade_df["12th"] = math_by_grade_df["12th"].map("{:,.2f}".format)

math_by_grade_df.head()

                        9th   10th   11th   12th
school_name
Bailey High School    77.08  77.00  77.52  76.49
Cabrera High School   83.09  83.15  82.77  83.28
Figueroa High School  76.40  76.54  76.88  77.15
Ford High School      77.36  77.67  76.92  76.18
Griffin High School   82.04  84.23  83.84  83.36

In [ ]:
'READING SCORES BY GRADE

In [587]:
# Create a DataFrame that lists the average reading score for students of each grade (9th, 10th, 11th, 12th) at each school.
reading_9th=students_df.loc[students_df["grade"] == "9th"].groupby(["school_name"])['reading_score'].mean()
reading_10th=students_df.loc[students_df["grade"] == "10th"].groupby(["school_name"])['reading_score'].mean()
reading_11th=students_df.loc[students_df["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
reading_12th=students_df.loc[students_df["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

#create a DF for reading Scores by Grade
reading_by_grade_df=pd.DataFrame({"9th":reading_9th, "10th": reading_10th, "11th":reading_11th, "12th":reading_12th })

# Format values
reading_by_grade_df["9th"] = reading_by_grade_df["9th"].map("{:,.2f}".format)
reading_by_grade_df["10th"] = reading_by_grade_df["10th"].map("{:,.2f}".format)
reading_by_grade_df["11th"] = reading_by_grade_df["11th"].map("{:,.2f}".format)
reading_by_grade_df["12th"] = reading_by_grade_df["12th"].map("{:,.2f}".format)

reading_by_grade_df.head()

                        9th   10th   11th   12th
school_name
Bailey High School    81.30  80.91  80.95  80.91
Cabrera High School   83.68  84.25  83.79  84.29
Figueroa High School  81.20  81.41  80.64  81.38
Ford High School      80.63  81.26  80.40  80.66
Griffin High School   83.37  83.71  84.29  84.01

In [ ]:
' SCORES BY SCHOOL SPENDING

In [589]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["< $585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = school_summary_df.copy()

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(budget_per_student, spending_bins, labels=labels, right=False)
school_spending_df

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%,< $585
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,89.23%,< $585
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%,< $585
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33%,96.61%,90.33%,< $585

In [ ]:
' SCORES BY SCHOOL SIZE

In [598]:
# Add column to original df of budget per student in bins
size_bins = [0, 1000, 2000, 5000]
labels_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_size_df=school_summary_df.copy()

school_size_df["School Size"]=pd.cut(budget_per_student,size_bins,labels=labels_size)
school_size_df

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%,Small (<1000)
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%,Small (<1000)
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%,Small (<1000)
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%,Small (<1000)
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%,Small (<1000)
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%,Small (<1000)
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%,Small (<1000)
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%,Small (<1000)
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%,Small (<1000)
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,89.89%,Small (<1000)
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%,Small (<1000)
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%,Small (<1000)
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33%,96.61%,90.33%,Small (<1000)

In [ ]:
' SCORES BY SCHOOL TYPE

In [639]:
# Use the previous df to create a new df to show school performance based on school type
performance_by_type_df = scores_by_type_df.groupby(["School Type"]).size()
performance_by_type_df

School Type
Charter     8
District    7
dtype: int64